.video {
    background-color: blueviolet;
    width: 10rem;
    height: 4rem;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.vid {
    text-align: center;
}

.trn {
    text-align: center;

}

#vid {
    border-radius: 1rem;
    height: 500px;
    width: 500px;
}

